/* src/components/Home.css */

.home-container {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .title {
    color:rgb(25 176 182);
  }

  .home-container {
  
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 18px;
    color: #555;
  }
  