/* src/components/Navbar.css */

body {
  background-color: #f0f0f3; /* Soft background color typical for Neumorphism */
  font-family: 'Arial', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.7); /* Neumorphism shadow for logo */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA500;
  padding: 10px 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.7); /* Soft shadow effect for navbar */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFA500; /* Flat background color without shadows */
  transition: background-color 0.2s ease; /* Smooth transition for hover effects */
}

.nav-links a:hover {
  background-color: #ff8c00; /* Simple color change on hover without shadow */
}

.hamburger {
  display: none;
  cursor: pointer;
  border-radius: 20%;
  padding: 10px;
  background-color: #FFA500;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.5); /* Soft shadow for hamburger */
}

.hamburger:hover {
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.1), inset -8px -8px 16px rgba(255, 255, 255, 0.7); /* Pressed-in effect */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #FFA500;
    padding: 20px 60px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 10px 50px;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
}
