/* src/components/SpecialCoffee.css */
.special-coffee {
  display:flex;
  justify-content: center;
  align-items: center;
}

.special-coffee-container, .title, .c{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem; /* Center the card vertically */
}

.card {
  width: 18rem;
  height: 20rem;
  perspective: 1000px; /* Perspective to create 3D effect */
  cursor: pointer;
}

.card-front,
.card-back {
  width: 18rem;
  height: 20rem;
  position: absolute;
  backface-visibility: hidden; /* Hide the back side when not flipped */
  transition: transform 0.6s ease-in-out; /* Smooth flip transition */
  border-radius: 2rem;
}

.card-front {
  transform: rotateY(0deg); /* Front side stays in place */
}

.card-back {
  transform: rotateY(180deg); /* Back side starts flipped */
  background-color: #cfcdcd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.card.flipped .card-front {
  transform: rotateY(180deg); /* Flip front side when active */
}

.card.flipped .card-back {
  transform: rotateY(360deg); /* Rotate back side into view */
}

.coffee-image {
  width: 18rem;
  height: 20rem;
  object-fit: cover; 
  border-radius: 2rem;
}
